var collaboratorsList = $("#collaborators_list");
var sidebarCollaboratorsList = $("#sidebar_collaborators_list");
var notice = $("#notice");
var searchBar = $("#search_bar");


<% byebug %>
// Clear previous notices
notice.text("");

// No user in ActiveRecord
<% if collaborator %>

  // Collaborator has already been added
  if ($("#collaborator_<%= collaborator.id %>").length) {
    notice.text("That user is already collaborating!");
  }
  // Collaborator hasn't been added
  else {
    notice.text("Collaborator added.");

    var collaborator = 
      '<p id="collaborator_<%= collaborator.id %>">'
      +  '<a class="fa fa-times" '
      +     'data-remote="true" rel="nofollow" data-method="delete" href=\'<%= url_for(wiki_collaboration_path(id: wiki.id, user_id: collaborator.id)) %>\'>'
      +  '</a> <%= link_to collaborator.username, user_url(collaborator) %>'
      +'</p>';

    var sidebarCollaborator = 
      '<li id="sidebar_collaborator_<%= collaborator.id %>">'
      +  '<a class="fa fa-times delete-collaborator" '
      +     'data-remote="true" rel="nofollow" data-method="delete" href=\'<%= url_for(wiki_collaboration_path(id: wiki.id, user_id: collaborator.id)) %>\'>'
      +  '</a><%= link_to collaborator.username, user_url(collaborator), class: "collaborator-name" %>'
      +'</li>';

    collaboratorsList.append(collaborator);
    sidebarCollaboratorsList.append(sidebarCollaborator);
  }

// User found in ActiveRecord
<% else %>
  notice.text("No user found. Try again.");
<% end %>

// Clear the search bar
searchBar.val("");