<h1><%= @user.username %>'s Profile</h1>
<p>Member since: <%= distance_of_time_in_words_to_now(@user.confirmed_at) %></p>
<p>Membership: <%= @user.role %></p>


<% if @user == current_user %>

<p>Next payment: <%= @date %></p>

  <% if @user.premium? %>
    <div class="col-md-4 upgrade-downgrade">
      <% if @user.subscription.autopay %>
        <%= link_to "Turn off autopay", 
          :turn_off_autopay, 
          class: 'btn btn-error', 
          data: { confirm: "Canceling autopay will cause your account to be downgraded at the end of the billing cycle, causing all of your private wikis to become public (omg)." },
          method: :post 
        %>
      <% else %>
        <%= link_to "Turn on autopay", 
          :turn_on_autopay, 
          class: 'btn btn-error', 
          data: { confirm: "Your card will automatically be charged at the end of each billing cycle unless autopay is manually canceled." },
          method: :post %>
      <% end %>
    </div>

    <!-- put credit card info here or put a LINK TO SUBSCRIPTIONS/UPDATE -->

  <% elsif @user.standard? %>
    <div class="col-md-4 upgrade-downgrade">
      <%= link_to "Upgrade Account", new_subscription_path, class: 'btn btn-error' %>
    </div>    
  <% end %>

<% end %>
