<h1><%= @user.username %>'s Profile</h1>
<p>Last signed in at: <%= @user.last_sign_in_at %></p>
<p>Member since: <%= @user.confirmed_at %></p>
<p>Membership: <%= @user.role %></p>

<% if @user == current_user %>

  <% if @user.premium? %>
    <div class="col-md-4 upgrade-downgrade">
      <% if @user.subscription.autopay %>
        <%= link_to "Turn off autopay", :turn_off_autopay, class: 'btn btn-error', method: :post %>
      <% else %>
        <%= link_to "Turn on autopay", :turn_on_autopay, class: 'btn btn-error', method: :post %>
      <% end %>
    </div>

    <!-- put credit card info here or put a LINK TO SUBSCRIPTIONS/UPDATE -->

  <% elsif @user.standard? %>
    <div class="col-md-4 upgrade-downgrade">
      <%= link_to "Upgrade Account", new_subscription_path, class: 'btn btn-error' %>
    </div>    
  <% end %>

<% end %>
