<div class="row wiki-edit" id="wrapper">

  <!-- Render sidebar -->
  <%= render partial: 'sidebar', locals: { wiki: @wiki} %>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    
    <!-- Render error messages -->
    <div class="col-xs-12">
      <%= render partial: 'layouts/print_errors' %>
    </div>
    
    <div class="col-xs-12 col-sm-6 edit-col">
      <h1>Edit Wiki</h1>

      <%= render partial: 'form', locals: { wiki: @wiki} %>

      <div class="hidden toggle_me" id="collaborators_section">

        <div class="col-xs-12 hidden-xs col-sm-6 collaborators-list" id="collaborators_list">
          <h4><strong>Currently Collaborating</strong></h4>
          <% if @wiki.collaborators? %>
            <% @wiki.collaborators.each do |collaborator| %>
              <p id="collaborator_<%= collaborator.id %>">
                <%= link_to wiki_collaboration_path(@wiki, user_id: collaborator.id), 
                                class: "fa fa-times",
                                method: :delete,
                                remote: true do %>
                <% end %>
                <%= link_to collaborator.username, user_path(collaborator) %>
              </p>
            <% end %> 
          <% end %>
        </div> 

        <div class="col-xs-12 col-sm-6 collaborators-form" id="collaborators_form"> 
          <h4><strong>Add a Collaborator</strong></h4>
          
          <form action="/wikis/<%=@wiki.id%>/collaborations" method="post" data-remote="true">
            <input id="search_bar" name="email" placeholder="Enter email">
            <input type="submit" value="Search">
          </form>

          <h3 class="notice" id="notice"><em></em></h3>
        </div>

      </div>

      <% if @wiki.collaborators? %>
        <h3 class="toggle_me" id="removal_warning"><strong>Warning: Collaborators will be removed if made public!</strong></h3>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6 live-preview">
      <h1>Live Preview</h1>
      <h2 id="live_title_preview"></h2>
      <div id="live_body_preview"></div>
    </div>
  </div>

</div>