<!-- NAVBAR -->
<%= render partial: 'layouts/navbar' %>

<div class="row subscription-new">
  
  <!-- Render error messages -->
  <%= render partial: 'layouts/print_errors' %>

  <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-5 col-md-push-6 description">
    <h4>Sign up for a premium account using our super secure checkout! Please enter your credit card information below. Your information will be stored on the site.</h4>
  </div>

  <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-5 col-md-pull-4">
    <div class="panel panel-default credit-card-box">

      <div class="panel-heading display-table" >
          <div class="row vertical-center" >
              <h3 class="col-xs-6 panel-title" >Payment Details</h3>
              <div class="col-xs-6 pull-right" >                       
                <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png">
              </div>
          </div>                    
      </div>

      <div class="panel-body">
        <%= form_for @subscription, class: "row", id: "new_subscription" do |f| %>

          <h4 class="payment-errors"></h4>

          <div class="col-xs-12 field">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, name: nil, required: true %>
          </div>
          <div class="col-xs-12 field">
            <%= label_tag :card_cvc, "Security Code on Card (CVV)" %>
            <%= text_field_tag :card_cvc, nil, name: nil, required: true %>
          </div>
          <div class="col-xs-12 field">
            <%= label_tag :card_month, "Card Expiration" %>
            <div class="card-expiration-dropdowns">
              <%= select_month nil, {add_month_numbers_true: true, include_blank: true}, {name: nil, id: "card_expiry_month"}%>
              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15, include_blank: true}, {name: nil, id: "card_expiry_year"}%>
            </div>
          </div>
          <div class="actions btn btn-lg"><%= f.submit "Subscribe", class: "btn btn-success" %></div>

          <%= hidden_field_tag 'stripeEmail', current_user.email %>
        <% end %>
      </div>

      
    </div>
  </div>

</div>

