var collaboratorsList = $("#collaborators_list");
var sidebarCollaboratorsList = $("#sidebar_collaborators_list");
var notice = $("#notice");
var searchBar = $("#search_bar");
var checkbox = $("#wiki_private");

// Clear previous notices
notice.text("");

// User is already collaborating
switch("<%= state %>") {

  case "exists":
    notice.text("That user is already collaborating!");
    break

  case "new":
    notice.text("Collaborator added.");

    var collaborator = 
      '<p id="collaborator_<%= collaborator.id %>">'
      +  '<a class="fa fa-times" '
      +     'data-remote="true" rel="nofollow" data-method="delete" href=\'<%= url_for(wiki_collaboration_path(id: wiki.id, user_id: collaborator.id)) %>\'>'
      +  '</a> <%= link_to collaborator.username, user_url(collaborator) %>'
      +'</p>';

    var sidebarCollaborator = 
      '<li id="sidebar_collaborator_<%= collaborator.id %>">'
      +  '<a class="fa fa-times delete-collaborator" '
      +     'data-remote="true" rel="nofollow" data-method="delete" href=\'<%= url_for(wiki_collaboration_path(id: wiki.id, user_id: collaborator.id)) %>\'>'
      +  '</a><%= link_to collaborator.username, user_url(collaborator), class: "collaborator-name" %>'
      +'</li>';

    collaboratorsList.append(collaborator);
    sidebarCollaboratorsList.append(sidebarCollaborator);
    break

  default:
    notice.text("No user found. Try again.");
};

// Clear the search bar
searchBar.val("");

