<!DOCTYPE html>
<html>
  <head>
    <title>Not Wikipedia</title>
    <%= csrf_meta_tags %>

    <!-- add this line to scale screens correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    </script>  

    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="preload">
    <div class="container-fluid">

      <!-- DISPLAY PAGE -->
      <%= yield %>

      <div class="row">
        <div class="col-xs-12">
          <%= debug(params) %>
        </div> 
      </div>

    </div>
  </body>
</html>
